.search-result {
    background-color: var(--umd-light-gray);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .search-result:hover {
    background-color: var(--umd-gold);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .remove-button {
    background-color: var(--umd-red);
    color: var(--umd-white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-button:hover {
    background-color: var(--umd-dark-gray);
  }
  