.results-list-wrapper {
    width: 45%;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: var(--umd-white);
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 8px;
    height: 20vh;
    overflow: hidden; 
    position: relative; 
    max-height: 300px;
}

.results-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto; 
    max-height: 100%; 
    padding-right: 10px;
}

.no-results {
  text-align: center;
  color: var(--umd-dark-gray);
}
